<div class="container">
  <h1>Arztpraxen-Marktplatz</h1>
  <div class="praxis-grid">
    @for (praxis of arztpraxen; track arztpraxen){
      <div class="praxis-card">
        <div class="praxis-icon">🩺</div>
        <div class="praxis-content">
          <h2>{{ praxis.name }}</h2>
          <p><i class="material-icons">location_on</i> {{ praxis.strasse }}</p>
          <p><i class="material-icons">email</i> {{ praxis.email }}</p>
          <p><i class="material-icons">phone</i> {{ praxis.telefon }}</p>
          <p class="bewertung">
            @for (star of [1,2,3,4,5]; track star; let i = $index){
              <ng-container>
                <span [class.filled]="praxis.bewertung >= star">★</span>
              </ng-container>
            }
            <span class="numeric">({{ praxis.bewertung }} / 5)</span>
          </p>
        </div>
      </div>
    }
  </div>
</div>
